<div class="d-flex justify-content-center p-1">
    <div style="width: 700px;top:calc(50vh - 250px)" class="card standard-shadow p-3 position-absolute">
        
            
        <h3>Register</h3>
        <form class="m-2" [formGroup]="signupData">
            <label>Username</label>
            <input type="text" class='form-control' placeholder="username" formControlName="username" required>
            <label>Email</label>
            <input type="email" class='form-control' placeholder="email" formControlName="email"
                required>
            <label>Password</label>
           <input type="password" class='form-control' placeholder="password" formControlName="password"
                required>
                <label>Confirm Password</label>
                <input type="password" class='form-control' placeholder="re-enter password" formControlName="cpassword"
                    required>
            <br>
            <button class="btn btn-dark" (click)="handleSignupSubmit()">Signup</button>
        </form>

    </div>
    
        </div>